---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/Howitworks.astro";
import Download from "../components/Download.astro";
import FAQ from "../components/FAQ.astro";
---

<BaseLayout>
  <div class="space-y-32">
    <Hero />
    <Features />
    <HowItWorks />
    <Download />
    <FAQ />
  </div>
</BaseLayout>
